.selection_bubble {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid #0045b5;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
  }
  .arrow-up {
    width: 0; 
    height: 0; 
    margin-left: 10px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    
    border-bottom: 25px solid #0045b5;
  }